*{
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  opacity: 1;
}
button:hover{
  transition:  all .125s;
}
body{
  background-color: #111;
}

.Button{
  font-family: Oswald;
  font-size: 40em;
  color: white;
  width: 100%;
  height: 100%;
}
.Result{
    font-family: Oswald;
  font-size: 64px;
  line-height: 1;
  letter-spacing: 2.56px;
  text-align: right;
  color: white;
  margin-right: 35px;
}

.Container{
  width: 100%;
  max-width: 448px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0px 40px;
  background-color: #111;
  .Display{
    width: 100%;
    max-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2b2b2b;
    padding: 26px 0 14px;
    .ResultValue{
      font-family: Oswald;
      font-size: 64px;
      line-height: 1;
      letter-spacing: 2.56px;
      text-align: right;
      color: white;
      margin-right: 5%;
    }
  }
  .Wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px 5% 40px;
    height: 100%;
    .Row{
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 16px;
      button{
        font-size: 40px;
        font-family: Oswald;
        border-radius: 40px;
        width: 80px;
        height: 80px;
        background: #2b2b2b;
        display: flex;
        align-items: center;
        font-weight: bold;
        justify-content: center;
        color: white;
      }
      .NumBtn{
        color: white;
        background: #2b2b2b;
      }
      .NumBtn_zero{
        width:calc(210 / 448 * 100%); 
      }
      .NumBtn:active,.NumBtn_zero:active{
        color: #2b2b2b;
        background: white;
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));
      }
      .OperatorBtn{
        position: relative;
        background-color: #ff8200;
        color: white;
      }
      .OperatorBtn:active{
        background-color: white;
        color: #ff8200;
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));
      }
      .OperatorBtn_multiple::after{
        content:"";
        width: 100%;
        height: 100%;
        background-size: auto;
        background-position: center;
      }
      .ClearBtn{
        color: white;
        background-color: #a5a5a5;
      }
      .ClearBtn:active{
        background-color: white;
        color: #a5a5a5;
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));
      }
    }
  }
}